* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}



/* Группировка селекторов */
/* h1, .par {
  background-color: beige;
} */

.cards-wrapper {
  width: 800px;
}

.card {
  width: 50vw;
  height: 70vh;
  /* внутренние отступы отдельно для каждой стороны */
  /* padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 40px; */
  font-size: 30px;
  padding: 2rem;
  /* padding: 30px; */
    /* внешние отступы отдельно для каждой стороны */
  /* margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 40px; */
  margin: 40px 40px 40px 50px;
  color:rgb(49, 99, 66);
  /* задание отдельных свойств границ */
  /* border-top-style: solid;
  border-top-color: rgb(126, 139, 130);
  border-top-width: 6px; */
  /* border-style: dashed;
  border-color: rgb(51, 59, 56);
  border-width: 10px; */
  border: 6px double rgb(51, 59, 56);
  border-radius: 50px 10px;
  background-color: rgb(207, 233, 226);
}

img {
  width: 70px;
  border-style: solid;
}